@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --body-BC_001: #5dd3c9;
  --body-BC_002: #a3bec9;
  --body-BC_003: #8ae99b;

  --background-curcle: none;
  --bc_button_001: #4e5557d2;
  --bc_button_002: #ffffff00;
  --bc_Education_Univer: #cfc296a8;
  --bc_Personal-Info_001: #ffffffbe;
  --bc_Personal-Info_002: #726b6500;
  --bc_Personal-Info_003: #ffffff00;
  --bc_Technologies_ch: #23888fc9;
  --bc_Projects_ch: #0d1017d2;
  --bc_Soft-Skills_ch: #1160bbcc;
  --DM-Black: #000000;
  --DM-White: #ffffff;
  --DM-Gray: #868f99;
  --DM-Filter: none;
  --Personal-Info__photo: none;

  --bt_center-line: 80%;
  --border_radius: 1.25rem;
  --gradient_angle: 70deg;

  --font-size: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
}

body {
  align-items: center;
  animation: gradient 25s ease infinite;
  background: linear-gradient(
    70deg,
    var(--body-BC_001),
    var(--body-BC_002) 33%,
    var(--body-BC_003) 67%
  );
  background-size: 600% 600%;
  color: var(--DM-Black);
  display: flex;
  font-family: "Overpass", sans-serif;
  font-size: var(--font-size);
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  transition: 0.5s;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 77% 0%;
  }
  25%,
  75% {
    background-position: 33% 49%;
  }
  50% {
    background-position: 24% 100%;
  }
}

/* 000 _ main */

main {
  aspect-ratio: 2 / 1;
  margin: 1.5rem;
  max-width: 1720px;
  width: 100%;
}

.container__Title {
  color: var(--DM-Black);
  display: block;
  font-size: calc(var(--font-size) * 2);
  font-weight: 700;
  text-align: center;
}

/* 001 _ container */

#container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  position: relative;
  width: 100%;
}

/* 002 _ container__Personal-Info */

#container__Personal-Info {
  align-items: center;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  display: grid;
  grid-area: 1 / 1 / span 2 / span 2;
  grid-template-rows: 5fr 1fr;
  padding: 1rem;
  place-items: center;
  text-align: center;
}

#container__Personal-Info__Photo {
  aspect-ratio: 1 / 1;
  filter: var(--Personal-Info__photo);
  position: relative;
  transition: 0.3141s ease-in-out;
  width: 60%;
}

#container__Personal-Info__Photo:hover {
  transform: scale(1.05);
}

.Photo--Ruslan {
  bottom: 0;
}

#container__Personal-Info__Photo:hover .Photo--Ruslan {
  overflow: auto;
  transform: scale(1.11) translateY(-5%);
}

#container__Personal-Info__Photo .Photo {
  border-radius: 50%;
  margin: 0 auto;
  object-fit: fill;
  position: absolute;
  transition: 0.3141s ease-in-out;
  width: auto;
}

#container__Personal-Info__Photo .Photo.Background {
  aspect-ratio: 1 / 1.15;
  background: transparent;
  border-radius: 0 0 100vh 100vh;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

#container__Personal-Info__Name {
  align-items: center;
  color: var(--DM-Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container__Personal-Info__Name span:first-child {
  font-size: calc(var(--font-size) * 1.25);
  font-weight: 700;
}

#container__Personal-Info__Name span:last-child {
  font-size: calc(var(--font-size) * 0.7);
}

/* 003 _ container__Personal-Contacts */

#container__Personal-Contacts {
  align-items: center;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  display: flex;
  grid-area: 3 / 1 / span 1 / span 2;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

#container__Personal-Contacts ul {
  display: grid;
  gap: 0.5rem;
  list-style: none;
  place-items: left;
}

#container__Personal-Contacts ul li {
  flex-direction: row;
  padding: 0.5rem;
}

#container__Personal-Contacts img {
  filter: var(--DM-Filter);
  object-fit: contain;
  position: absolute;
  transform: translate(-120%, -15%);
  width: 5%;
}

/* 004 _ container__Soft-Skills */

#container__Soft-Skills {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  grid-area: 4 / 3 / span 1 / span 2;
  padding: 1rem;
}

#container__Soft-Skills ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}

#container__Soft-Skills ul li {
  background: var(--bc_Soft-Skills_ch);
  border-radius: calc(var(--border_radius) * 0.25);
  color: var(--DM-White);
  margin: 0.2rem;
  padding: 0.1rem 0.4rem;
  user-select: none;
}

/* 005 _ container__Education */

#container__Education {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  display: grid;
  grid-area: 1 / 3 / span 1 / span 2;
  grid-template-rows: 30% 70%;
  padding: 1rem;
}

#container__Education .container__Education-Container {
  align-items: center;
  background: var(--bc_Education_Univer);
  border-radius: calc(var(--border_radius) * 0.5);
  box-shadow: 0px 0px 15px 3px #cfc296;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40% 35% 25%;
  padding: 1rem;
}

#container__Education
  .container__Education-Container
  .container__Education-Container--Name {
  border-bottom: 1px dashed var(--DM-Black);
  font-size: var(--font-size);
  font-weight: 700;
  grid-area: 1 / 1 / 2 / span 2;
  text-align: left;
}

#container__Education
  .container__Education-Container
  .container__Education-Container--Faculty {
  font-size: calc(var(--font-size) * 0.8);
  grid-area: 2 / 1 / span 1 / span 1;
  font-style: italic;
  font-weight: 700;
}

#container__Education
  .container__Education-Container
  .container__Education-Container--Period-of-study {
  font-size: calc(var(--font-size) * 0.6);
  grid-area: 3 / 1 / span 1 / span 1;
}

#container__Education .container__Education-Container img {
  border-radius: 50%;
  grid-area: 2 / 2 / span 2 / span 1;
  margin: auto;
  padding: 0.2rem;
  width: 40%;
}

/* 006 _ container__Languages */

#container__Languages {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  grid-area: 2 / 3 / span 1 / span 1;
  padding: 1rem;
}

#container__Languages ul {
  font-size: calc(var(--font-size) * 0.8);
  list-style: none;
}

#container__Languages ul li {
  align-items: center;
  border-bottom: 1px solid var(--DM-Black);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 0.15rem 0.15rem 0;
  user-select: none;
}

/* 007 _ container__Links */

#container__Links {
  align-items: center;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  display: flex;
  grid-area: 3 / 3 / span 1 / span 1;
  justify-content: center;
  padding: 0.5rem;
}

#container__Links .container__Links__section {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  width: 100%;
}

#container__Links .container__Links__section a {
  filter: var(--DM-Filter);
  transition: 0.314s;
}

#container__Links .container__Links__section a:hover {
  transform: scale(1.1);
}

/* 008 _ container__Technology */

#container__Technology {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  grid-area: 2 / 4 / span 2 / span 1;
  padding: 1rem;
}

#container__Technology ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}

#container__Technology ul li {
  background: var(--bc_Technologies_ch);
  border-radius: calc(var(--border_radius) * 0.25);
  color: var(--DM-White);
  margin: 0.2rem;
  padding: 0.1rem 0.4rem;
  user-select: none;
}

/* 009 _ container__Projects */

#container__Projects {
  backdrop-filter: blur(15px);
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_Personal-Info_001),
    var(--bc_Personal-Info_002) 98%
  );
  border-radius: var(--border_radius);
  grid-area: 1 / 5 / span 3 / span 2;
  padding: 1rem;
}

#container__Projects .container__Projects--UnCont {
  align-items: center;
  background-color: var(--bc_Projects_ch);
  border-radius: calc(var(--border_radius) * 0.5);
  box-shadow: 0px 0px 25px 4px #0d1017;
  color: var(--DM-Gray);
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 3fr 0.5fr 0.5fr;
  padding: 0.75rem;
}

.container__Projects--UnCont__Name {
  color: var(--DM-White);
  font-weight: 700;
  grid-area: 1 / 1 / span 1 / span 1;
  text-align: left;
}

.container__Projects--UnCont__Description {
  color: var(--DM-White);
  display: -webkit-box;
  font-size: calc(var(--font-size) * 0.8);
  grid-area: 2 / 1 / span 1 / span 1;
  -webkit-box-orient: vertical;
}

.container__Projects--UnCont__UsedTech {
  font-size: calc(var(--font-size) * 0.7);
  grid-area: 3 / 1 / span 1 / span 1;
}

.container__Projects--UnCont__UsedTech ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}

.container__Projects--UnCont__UsedTech ul li {
  background: var(--bc_Technologies_ch);
  border-radius: calc(var(--border_radius) * 0.25);
  color: var(--DM-White);
  margin: 0.2rem 0.2rem 0.2rem 0;
  padding: 0.1rem 0.4rem 0.1rem;
  user-select: none;
}

.container__Projects--UnCont__link--Links {
  font-size: calc(var(--font-size) * 0.8);
  grid-area: 4 / 1 / span 1 / span 1;
}

.container__Projects--UnCont__link--Links a {
  background: var(--DM-White);
  border-radius: calc(var(--border_radius) * 0.3);
  color: var(--DM-Black);
  padding: 0.1rem 0.4rem;
}

.container__Projects--UnCont img {
  --img_br-radius: 10px;

  border: calc(var(--img_br-radius) / 3) solid var(--bc_button_001);
  border-radius: var(--img_br-radius);
  grid-area: 1 / 2 / span 4 / span 1;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* 00X _ buttons */

#buttons {
  position: absolute;
  right: 0;
  top: -3rem;
}

#buttons div {
  background: linear-gradient(
    var(--gradient_angle),
    var(--bc_button_001),
    var(--bc_button_002) 99%
  );
  border-radius: calc(var(--border_radius) * 0.3);
  position: relative;
}

#buttons div::before {
  --width-value: 1px;

  background: var(--DM-Black);
  content: "";
  display: block;
  height: var(--bt_center-line);
  left: calc(50% - (var(--width-value) / 2));
  position: absolute;
  top: calc((100% - var(--bt_center-line)) / 2);
  width: var(--width-value);
}

#buttons div button {
  aspect-ratio: 1 / 1;
  background: transparent;
  border: none;
  color: var(--DM-Black);
  font-size: calc(var(--font-size) * 0.8);
  width: 35px;
}

#buttons div button:first-child:hover {
  cursor: pointer;
}

#buttons div .buttons__Lang-choose {
  border-top: none;
  border-radius: 0 0 calc(var(--border_radius) * 0.3)
    calc(var(--border_radius) * 0.3);
  display: none;
  font-size: calc(var(--font-size) * 0.8);
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(-5px);
  transition: all 0.3s;
}

#buttons div button:hover + .buttons__Lang-choose,
#buttons div .buttons__Lang-choose:hover {
  display: block;
  opacity: 1;
}

#buttons div .buttons__Lang-choose li {
  align-items: center;
  background: radial-gradient(
    var(--bc_button_002),
    var(--bc_button_001) 4%,
    transparent 82%
  );
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  opacity: 0.2;
  user-select: none;
  width: 28px;
  transition: opacity 0.3s;
}

#buttons div .buttons__Lang-choose li:hover {
  cursor: pointer;
  opacity: 1;
}

/* footer */

footer {
  font-size: calc(var(--font-size) * 0.6);
  inset: auto auto 0.5rem;
  padding: 0 1rem 0.5rem;
  position: absolute;
  text-align: left;
}

/* Background staff */

.background__circle {
  animation: turning 30s infinite linear;
  filter: var(--background-curcle);
  inset: -80% auto auto;
  position: absolute;
  z-index: -1;
}

@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DARK THEME */

body.darkmode {
  --body-BC_001: #413f3f;
  --body-BC_002: #1f1f1f;
  --body-BC_003: #5e5555;

  --background-curcle: invert(32%) sepia(7%) saturate(470%) hue-rotate(314deg)
    brightness(97%) contrast(85%);
  --bc_button_001: #43494a;
  --bc_button_002: #4e555700;
  --bc_Personal-Info_001: #2e2821af;
  --bc_Personal-Info_002: #36363600;
  --bc_Technologies_ch: #9a88cc;
  --bc_Projects_ch: #3d443fd0;
  --bc_Soft-Skills_ch: #8398af;
  --bc_Education_Univer: #997b448c;
  --DM-Filter: invert(74%) sepia(2%) saturate(9%) hue-rotate(338deg)
    brightness(103%) contrast(85%);
  --DM-Gray: #868f99;
  --DM-Black: #dacaca;
  --DM-White: #131212;
  --Personal-Info__photo: brightness(0.8);
}

@media screen and (max-width: 1200px) {
  body {
    overflow: auto;
    overflow-x: hidden;
  }

  main {
    aspect-ratio: 1 / 0.75;
    max-width: 1100px;
  }

  /* 001 _ container */

  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  /* 002 _ container__Personal-Info */

  #container__Personal-Info {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  #container__Personal-Info__Photo {
    width: 30%;
  }

  /* 003 _ container__Personal-Contacts */

  #container__Personal-Contacts {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  /* 004 _ container__Soft-Skills */

  #container__Soft-Skills {
    grid-area: 4 / 3 / span 1 / span 2;
  }

  /* 005 _ container__Education */

  #container__Education {
    grid-area: 5 / 3 / span 1 / span 2;
  }

  /* 006 _ container__Languages */

  #container__Languages {
    grid-area: 5 / 1 / span 1 / span 1;
  }

  /* 007 _ container__Links */

  #container__Links {
    grid-area: 4 / 1 / span 1 / span 1;
  }

  /* 008 _ container__Technology */

  #container__Technology {
    grid-area: 4 / 2 / span 2 / span 1;
  }

  /* 009 _ container__Projects */

  #container__Projects {
    grid-area: 1 / 3 / span 3 / span 2;
  }

  .background__circle {
    inset: -35% auto auto;
  }
}

@media screen and (max-width: 800px) {
  body {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
  }

  main {
    aspect-ratio: auto;
    max-width: 550px;
  }

  /* 001 _ container */

  #container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
  }

  /* 002 _ container__Personal-Info */

  #container__Personal-Info {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  #container__Personal-Info__Photo {
    width: 30%;
  }

  /* 003 _ container__Personal-Contacts */

  #container__Personal-Contacts {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  /* 004 _ container__Soft-Skills */

  #container__Soft-Skills {
    grid-area: 7 / 1 / span 1 / span 2;
  }

  /* 005 _ container__Education */

  #container__Education {
    grid-area: 6 /1 / span 1 / span 2;
  }

  /* 006 _ container__Languages */

  #container__Languages {
    grid-area: 4 / 2 / span 1 / span 1;
  }

  /* 007 _ container__Links */

  #container__Links {
    grid-area: 3 / 2 / span 1 / span 1;
  }

  /* 008 _ container__Technology */

  #container__Technology {
    grid-area: 3 / 1 / span 2 / span 1;
  }

  /* 009 _ container__Projects */

  #container__Projects {
    grid-area: 5 / 1 / span 1 / span 2;
  }

  .background__circle {
    inset: -35% auto auto;
  }
}
