@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

p,
li,
a {
  @apply 2xl:text-pSize lg:text-pSize_md text-pSize_sm;
}

p[data-with-indent] {
  @apply indent-6 text-justify;
}

h1 {
  @apply 2xl:text-h1Size lg:text-h1Size_md text-h1Size_sm;
}

h2 {
  @apply 2xl:text-h2Size lg:text-h2Size_md text-h2Size_sm md:my-4 my-1 text-center;
}

h3 {
  @apply 2xl:text-h3Size lg:text-h3Size_md text-h3Size_sm text-center;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: #ffedd5;
  font-family: Urbanist, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
