@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

p,
li,
a {
  @apply text-pSize_sm lg:text-pSize_md 2xl:text-pSize;
}

p[data-with-indent] {
  @apply text-justify indent-6;
}

h1 {
  @apply text-h1Size_sm lg:text-h1Size_md 2xl:text-h1Size;
}

h2 {
  @apply my-1 text-center text-h2Size_sm md:my-4 lg:text-h2Size_md 2xl:text-h2Size;
}

h3 {
  @apply text-center text-h3Size_sm lg:text-h3Size_md 2xl:text-h3Size;
}

html {
  scroll-behavior: smooth;
}

[value="right"] {
  right: 0;
}

[alt="Arrow left"] {
  rotate: 180deg;
}

#root {
  background-color: #ffedd5;
  font-family: Urbanist, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
